action: train # train or test
name: ta3n # name of the experiment needed for the logs
modality: ["RGB"] # modality used
total_batch: 128 # total batch size if training is done with gradient accumulation
batch_size: 32 # batch size for the forward
gpus: cuda  # gpus adopted
wandb_name: Trn-D3-D2 # needed for wandb logging
wandb_dir: wand_db
resume_from: #./checkpoints/I3D_SourceOnlyD1 # checkpoint directory
logname: Experiment_logs # name of the logs
models_dir: null # directory containing all the models

train:
  num_iter: 2000 # number of training iterations with total_batch size
  lr_steps: 1500 # steps before reducing learning rate
  eval_freq: 50 # evaluation frequency
  num_clips: 5 # clips adopted in training
  dense_sampling: # sampling version adopted in training for each modality
    RGB: True
  num_frames_per_clip: # number of frames adopted in training for each modality
    RGB: 16

test:
  num_clips: 5 # number of clips in testing
  dense_sampling: # sampling version adopted in test for each modality
    RGB: True
  num_frames_per_clip: # number of frames adopted in test for each modality
    RGB: 16

dataset:
  annotations_path: train_val # path for the annotations data
  shift: D3-D1 # shifts of the dataset
  workers: 4 # number of workers for the dataloader 
  persistentWorkers: True
  stride: 2 # stride in case of dense sampling
  resolution: 224 # input resolution to the model
  RGB:
    data_path: ??? # path to RGB data
    tmpl: "img_{:010d}.jpg" # format of RGB filenames
    features_name: test_feat_kinetics
  Event: # not neeeded for the project
    rgb4e: 6

# these are the action recognition models for each modality
models:
  RGB:
    model: Classifier
    normalize: False
    kwargs: {}
    lr_steps: 1500
    lr: 1e-2
    gamma: 0
    sgd_momentum: 0.9
    weight_decay: 1e-7
    temporal-type: TRN
    ablation: 
      gsd: False
      gtd: True
      grd: False
      domainA: False